.cadastro {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #000;
  background-color: #fdfcf7;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cadastro .banner-img img {
  width: 750px;
}
@media (width:1920px) {
    .cadastro .banner-img img {
  width: 1000px;
  background-color: aqua;
}
.input-cadastro {
  background-color: #000;
  border: none;
  width: 22rem;
  height: 3rem;
  padding-left: 5px;
  color: #fff;
  
}
}

.container-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.inputs {
  font-family: cinzel;
  font-weight: 500;
  height: 100%;
}
.input-cadastro {
  background-color: #000;
  border: none;
  width: 20rem;
  height: 3rem;
  padding-left: 5px;
  color: #fff;
  
}

.input-cadastro::placeholder{
    padding-left: 10px;
    color: #b8989894;
    font-family: the witcher;
}

.cadastro .container-features .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 40px;
}

.cadastro .container-features .button button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}


.cadastro .container-features .button a {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}

.cadastro .container-features .button button {
  text-decoration: none;
  background-color: #000000;
  padding: 15px 50px 15px 50px;
  color: #fffdfd;
  font-size: 20px;
  font-family: the witcher;
  border: none;
  cursor: pointer;
}


/*Web data Viz*/

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}


.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}
