

.cadastro{
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: #000;
    background-color: white;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cadastro .banner-img img{
    height: 100%;
}

.container-features{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.inputs{
    font-family: cinzel;
    font-weight: 500;
    height: 100%;
}
.input-cadastro{
    background-color: #000;
    border: none;
    padding: 20px 80px 20px 80px; 
}



.cadastro .container-features .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
}

.cadastro .container-features .button button {
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.cadastro .container-features .button a {
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.cadastro .container-features .button button a{
    text-decoration: none;
    background-color: #000;
    padding: 15px 50px 15px 50px ;
    color: #fff;
    font-size: 20px;
    font-family: the witcher;

}