html .Dashboard {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#myVideo {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 10%;
  opacity: 30%;
}

.Dashboard-features {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 10px 50px 10px 20px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: theWitcher;
}

.section-stats #classeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  height: 85%;
}
.section-stats .box-class img {
  width: 150px;
}
.section-stats .box-class .background {
  background: rgba(222, 20, 20, 0.3);
  width: 120px;
  height: 250px;
}

.section-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.conteiner-stats {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 0.8rem;
}
.title-box {
  font-family: theWitcher;
  font-size: 18px;
  margin-top: -8px;
}
.box-class {
  background-color: #27272765;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #c2b1a3;
  font-weight: 500;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
}
.box-stats {
  width: 100%;
  background-color: #27272765;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #c2b1a3;

  font-weight: 500;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
}
.container-graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#box-rank {
  height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
}
#rankUsuarioDiv {
  height: 50px;
  display: flex;
  gap: 10px;
}
.title-stats {
  font-family: theWitcher;
  font-size: 20px;
  text-align: center;
  color: rgb(218, 218, 218);
}

.container-contracts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  font-size: 0.8rem;
}
.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#ranking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  align-items: center;
}
.rank-stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.title-rank {
  display: flex;
  justify-content: space-between;
  font-family: theWitcher;
}
.participante {
  font-size: 15px;
  font-weight: 600;
}
.posicao {
  font-size: 20px;
  font-family: theWitcher;
}
.vitorias {
  font-size: 18px;
  font-family: theWitcher;
}
.layer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kpiResultado {
  font-family: theWitcher;
  font-size: 18px;
}

.section-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.info-class {
  background-color: #27272765;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  width: 47%;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
}

.info-graph-bar {
  background-color: #27272765;
  border-radius: 5px;
  padding: 10px;
  width: 47%;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
}
.container-stats-contracts {
  width: 100%;
  margin-right: 50px;
}
#rankUsuarioDiv {
  display: flex;
  justify-content: space-between;
}

.info-graph {
  background-color: #27272765;
  border-radius: 5px;
  padding: 20px;
  width: 20%;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.3);
}
#bg-vitalidade {
  background: #06a40d;
  background: linear-gradient(
    90deg,
    rgba(6, 164, 13, 0.62) 24%,
    rgba(6, 164, 13, 0) 59%
  );
  border-left: 6px solid #06a40d;
  transition: 0.2s ease-in-out;
}
#bg-combate {
  background: #e30000;
  background: linear-gradient(
    90deg,
    rgba(227, 0, 0, 0.62) 24%,
    rgba(227, 0, 0, 0) 59%
  );
  border-left: 6px solid #e30000;
  transition: 0.2s ease-in-out;
}
#bg-influencia {
  background: #cb980b;
  background: linear-gradient(
    90deg,
    rgba(203, 152, 11, 0.62) 24%,
    rgba(203, 152, 11, 0) 59%
  );
  border-left: 6px solid #cb980b;
  transition: 0.2s ease-in-out;
}
#bg-conhecimento {
  background: #60088f;
  background: linear-gradient(
    90deg,
    rgba(96, 8, 143, 0.62) 24%,
    rgba(96, 8, 143, 0) 59%
  );
  border-left: 6px solid #60088f;
  transition: 0.2s ease-in-out;
}
#bg-discricao {
  background: #0a0a0a;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 0.62) 24%,
    rgba(10, 10, 10, 0) 59%
  );
  border-left: 6px solid #0a0a0a;
  transition: 0.2s ease-in-out;
}
#bg-provas {
  background: #e30000;
  background: linear-gradient(
    90deg,
    rgba(227, 0, 0, 0.62) 24%,
    rgba(227, 0, 0, 0) 59%
  );
  border-left: 6px solid #e30000;
  transition: 0.2s ease-in-out;
}

#bg-vitalidade:hover {
  transform: scale(1.2);
}
#bg-combate:hover {
  transform: scale(1.2);
}
#bg-influencia:hover {
  transform: scale(1.2);
}
#bg-conhecimento:hover {
  transform: scale(1.2);
}
#bg-discricao:hover {
  transform: scale(1.2);
}
#bg-provas:hover {
  transform: scale(1.2);
}

.icon-dash:hover {
  animation: girar 1.5s alternate forwards;
}

.container-posicoes {
  display: flex;
  flex-direction: column;
}

@keyframes girar {
  from {
    transform: rotate(0) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
