html .Dashboard {      
  margin: 0;          
  padding: 0;         
  overflow: hidden;     
  box-sizing: border-box; 

}
.Dashboard-features{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 50px 10px 20px;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-stats .box-class{
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}
.section-stats .box-class img{
    width: 150px;
}
.section-stats .box-class .background{
background: rgba(222, 20, 20, 0.30);
  width: 120px;
  height:250px;
}

.section-stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.conteiner-stats{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;  
    

}
.box-stats{
    width: 100%;
}

.container-contracts{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;    

}
.text-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-info{
    display: flex;
    justify-content: space-between;
     align-items: flex-start;
     margin-top: 15px;
     
     
}

.info-class{
    background-color: bisque;
    color: black;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    width: 50%;
    font-size: 0.9rem;
    font-weight: 500;

}

.info-graph{
    background-color: rgb(68, 61, 61);
    border-radius: 5px;
    padding: 20px;
    width: 30%;

}

