
.Dashboard-features{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 50px 10px 50px;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-stats .box-class{
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}

.section-stats .box-class .background{
background: rgba(222, 20, 20, 0.30);
  width: 200px;
  height:350px;
}

.section-stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.conteiner-stats{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;    

}

.container-contracts{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;    

}

.section-info{
    display: flex;
    justify-content: space-between;
     align-items: flex-start;
     margin-top: 50px;
     
}

.info-class{
    background-color: bisque;
    color: black;
    padding: 10px;
    border-radius: 10px;
    height: 170px;
    width: 50%;

}

.info-graph{
    background-color: rgb(68, 61, 61);
    border-radius: 5px;
    padding: 20px;
}

