html .Dashboard {      
  margin: 0;          
  padding: 0;         
  overflow: hidden;     
  box-sizing: border-box; 


}

#myVideo {
    z-index: -1;
    position: absolute;
  width: 100%; 
  min-height: 10%;
  opacity: 30%;
}

.Dashboard-features{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 50px 10px 20px;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: theWitcher;
}


.section-stats .box-class{
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1.5rem;
}
.section-stats .box-class img{
    width: 150px;
}
.section-stats .box-class .background{
background: rgba(222, 20, 20, 0.30);
  width: 120px;
  height:250px;
}

.section-stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.conteiner-stats{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;  
    

}
.title-box{
    font-family: theWitcher;
    font-size: 18px;
    margin-top: -8px;
}
.box-class{
    background-color: #27272765;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #c2b1a3;
    font-weight: 500;
    box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-webkit-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-moz-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
}
.box-stats{
    width: 100%;
    background-color: #27272765;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #c2b1a3;
    font-weight: 500;
    box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-webkit-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-moz-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
}
.title-stats{
    font-family: theWitcher;
    font-size: 20px;
    text-align: center;
    color: rgb(218, 218, 218);

}

.container-contracts{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;    

}
.text-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.kpiResultado{
    font-family: theWitcher;
    font-size: 18px;

}

.section-info{
    display: flex;
    justify-content: space-between;
     align-items: flex-start;
     margin-top: 15px;
     
     
}

.info-class{
    background-color: #27272765;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    width: 50%;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-webkit-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-moz-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
}

.info-graph{
    background-color: #27272765;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-webkit-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);
-moz-box-shadow: 2px 1px 5px 6px rgba(0,0,0,0.30);

}
#bg-vitalidade{
background: #06A40D;
background: linear-gradient(90deg, rgba(6, 164, 13, 0.62) 24%, rgba(6, 164, 13, 0) 59%);
border-left: 6px solid #06A40D;
transition: 0.2s ease-in-out;
}
#bg-combate{
    background: #E30000;
background: linear-gradient(90deg, rgba(227, 0, 0, 0.62) 24%, rgba(227, 0, 0, 0) 59%);
border-left: 6px solid #E30000;
transition: 0.2s ease-in-out;
}
#bg-influencia{
background: #CB980B;
background: linear-gradient(90deg, rgba(203, 152, 11, 0.62) 24%, rgba(203, 152, 11, 0) 59%);
border-left: 6px solid #CB980B;
transition: 0.2s ease-in-out;
}
#bg-conhecimento{
background: #60088F;
background: linear-gradient(90deg, rgba(96, 8, 143, 0.62) 24%, rgba(96, 8, 143, 0) 59%);
border-left: 6px solid #60088F;
transition: 0.2s ease-in-out;
}
#bg-discricao{
background: #0A0A0A;
background: linear-gradient(90deg, rgba(10, 10, 10, 0.62) 24%, rgba(10, 10, 10, 0) 59%);
border-left: 6px solid #0A0A0A;
transition: 0.2s ease-in-out;
}
#bg-provas{
background: #E30000;
background: linear-gradient(90deg, rgba(227, 0, 0, 0.62) 24%, rgba(227, 0, 0, 0) 59%);
border-left: 6px solid #E30000;
transition: 0.2s ease-in-out;
}

#bg-vitalidade:hover{
 transform: scale(1.2);

}
#bg-combate:hover{
 transform: scale(1.2);

}
#bg-influencia:hover{
 transform: scale(1.2);

}
#bg-conhecimento:hover{
 transform: scale(1.2);

}
#bg-discricao:hover{
 transform: scale(1.2);

}
#bg-provas:hover{
 transform: scale(1.2);

}


.icon-dash:hover{
  animation: girar 1.5s alternate forwards;
}

@keyframes girar {
  from {
    transform: rotate(0) scale(1);

  }
  to{
    
    transform: rotate(360deg) scale(1.2);
  }

}



