.body-home-quiz{
    
}
.home-quiz{
    background-color:  #fff;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Cizel;
}

.container-home-quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title-home-quiz{
    font-family: the witcher;

}
.img-home-title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-home-quiz{
    font-family: MedievalSharp;
    font-weight: 300;
}

.button-home-quiz{
    margin-top: 50px;
}

.button-home-quiz button{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 20px 40px 20px 40px;
    font-family: the witcher;
    font-size: 1rem;
}

.button-home-quiz button:hover{
    background-color: #fff;
    color: black;
}