.Dashboard{
    display: flex;
    height: 100vh;
    background-color: rgb(92, 88, 88);
}

aside {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    align-items: center;
    gap: 60px;
    padding-top: 20px;
    
}
aside .aside-logo{

}

.nav-laterl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    height: 100%;


}
.nav-laterl .sair a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}
.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 250px;
    
}
.nav-container a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    width: 100%;
    padding: 5px 0px 5px 0px;
    text-align: center;

}

.nav-selecionado{
    border: 2px solid #9e9e9e;
}


.nav-container a:hover{
    border: 2px solid #9e9e9e;
}