.quiz{
    background-color: white;
    height: 95vh;
    overflow: hidden;
    display: flex;
    color: black;
    
}
.quiz-container{
    display: flex;
    margin-top: 50px;
}

.reference-img img{
    width: 790px;
}
.section-quiz{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title-quiz{
    color: rgb(199, 106, 0);
    font-size: 20px;
    font-family: the witcher;
    background-color: black;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quest-text{
    display: flex;
    align-items: center;
    justify-content: center;   
    font-family: the witcher;
    text-align: center;
    font-size: 20px;
    padding: 25px;

}
.section-quiz{
    margin: 50px;
}
.continer-answer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-answer{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
.box-answer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    
}

.answer button{
    border: none;
    background-color: #00000000;
    color: white;
    cursor: pointer;
    padding: 15px;
}
.box-answer:hover{
    background-color: rgb(124, 124, 124);
    color: black;
}

.flex-colunar{
    display: flex;
    flex-direction: column;
}
.text-bold{
    font-family: theWitcher;
    text-align: center;
}
.container-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

.flex-colunar{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 0px;
}
.flex-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.option{
    font-weight: 600;
    font-size: 14px;
    color: black;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.btnQuiz{
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 5px;
    width: 150px;
    height: 30px;
    font-family: theWitcher;
    cursor: pointer;
}

.btnQuiz:hover{
    background-color: white;
    color: black;
}
