.about-user {
  background-color: rgb(229, 229, 229);
  height: 100vh;
  overflow: hidden;
  color: black;
  display: flex;
}

.reference-img-abt-user img {
  width: 650px;
}

.container-abt-user {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 2rem;
  margin: 2rem 20px 20px 20px;
}

.container-abt-user .title {
  font-family: theWitcher;
  font-size: 25px;
  text-align: center;
}

.opcoes-abt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-quest-abt-user {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
}

.opcoes-abt span {
  background-color: rgba(52, 52, 52, 0.809);
  color: white;
  padding: 2px;
  width: 300px;
  font-family: theWitcher;
  border-radius: 2px;
}
.opcoes-abt p {
  font-family: "MedievalSharp", cursive;
  font-size: 19px;
  margin: 2px;
  text-align: center;
  font-weight: 600;
}

.box-quest-abt {
  padding: 10px;
  background-color: #a3a3a3af;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.1);
}

.button-abt-user {
  display: flex;
  justify-content: center;
}
.button-abt-user button {
  border: none;
  background-color: #0f0505;
  color: white;
  padding: 10px 20px 10px 20px;
  font-family: theWitcher;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  transform: scale(1);
}

.button-abt-user button:hover {
  background-color: #f8f8f8;
  color: #0f0505;
  box-shadow: 1px 1px 2px 0px#0f0505;
  transform: scale(1.1);
}
