.hero-about{
    display: flex;
    height: 95vh;
    background-color: rgb(253, 253, 253);
    color: black;
    flex-direction: column;
}
.container-text-about{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 50px';
}

.icon-hero img{
    width: 500px;
}

.title-left{
    width: 100%;
}

.hero-about #h1-01{
    font-size: 12rem;
    rotate: calc(270deg);
    font-family: theWitcher;
    margin: 0;
}

.hero-about #h1-02{
    font-size: 12rem;
    padding: 0;
    font-family: theWitcher;
    margin: 0;

}