
.hero-about{
    display: flex;
    height: 99vh;
    background-color: rgb(253, 253, 253);
    color: black;
    flex-direction: row;
    width: 100%;

}
.container-text-about{
    display: flex;
    width: 500px;
    height: 100%;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: space-between;
}

.icon-hero img{
    width: 350px;
   
}

.title-left{
    width: 50%;
     height: 100%;
    display: flex;

}

.hero-about #h1-01{
    font-size: 12rem;
    rotate: calc(270deg);
    font-family: theWitcher;
    margin: 0;
    margin-bottom: 50px;
}

.hero-about #h1-02{
    font-size: 12rem;
    padding: 0;
    font-family: theWitcher;
    margin: 0;
    

}
.container-bg-for-img{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-bg{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}


.bg-white{
    background-color: #C5C5C5;
    width: 30rem;
    height: 30rem;
    z-index: 1;
    position: absolute;

}

.bg-black{
    background-color: #000000;
    width: 40rem;
    height: 30rem;
    z-index: 2;
    top: 10%;
    right: 10%;
    position: absolute;
}

.bg-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.bg-img img{
    width: 500px;
    z-index: 3;
    position: relative;
    margin: 0;

}