

@import url("./estilo.css");
@import url("./cadastro.css");
@import url("./menu-lateral.css");
@import url("./dashboards.css");
@import url("./home-quiz.css");
@import url("./quiz.css");
@import url("./sobreMim.css");