.gwent {
  display: flex;
  margin: 0;
  background-color: #381708;
  overflow: hidden;
}
aside {
  background: url("../assets/imgs/texture-wood-aside.webp") no-repeat;
  min-height: 100vh;
  width: 350px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-oponent {
  background-color: #000000a3;
  color: #df890a;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: 4;
}
.box-oponent img {
  width: 70px;
  border-radius: 50%;
  
}

#div_exibir_passou{

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
 
  padding: 10px;
}

.div-card-leader img {
  width: 50px;
}

.text-oponent .title{
  font-family: theWitcher;
  font-size: 20px;
}

.points-game{
  font-size: 30px;
  font-family: theWitcher;
  color: firebrick;
}
.container-table {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background: url("../assets/Gwent-Cards/texture-wood.avif");
}
.box-cartas-adversario {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.box-cartas-jogador {
}
.card-item {
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1; /* fica atrás */
}
#card-bg-atk {
  position: absolute;
  background-color: rgba(228, 228, 228, 0.884);
  border-radius: 100%;
  border: #df890a 1px groove;
  top: 1%;
  left: 0%;
  width: 25%;
  height: 14%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}
#card-atk {
  display: flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: theWitcher;
}

.box-cartas-adversario .card-item {
  background-color: rgb(80, 0, 0);
}
.box-cartas-jogador {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: 2px solid #ca730000;
  height: 100px;
}
.box-cartas-adversario {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: 2px solid #ca730000;
}
.box-cartas-jogador button {
  border: none;
  background-color: #00000000;
}

.box-cartas-jogador .card-item img:hover {
  border: 2px solid #df890a;

  animation: 0.2s forwards alternate subir;
}
.box-cartas-adversario .card-item img:hover {
  border: 2px solid #df890a;

  animation: 0.2s forwards alternate subir;
}
.table-gwent {
  background-color: #af5602a2;
  width: 100%;
  height: 120px;
  border: 2px solid #5e5d5d;
  display: flex;
  width: 100%;
  background: url("../assets/Gwent-Cards/texture-wood-light-2.jpg");

  box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
}
.mesa-distancia {
  background-color: #af5602a2;
  width: 100%;
  height: 120px;
  border: 2px solid #5e5d5d;
  display: flex;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: -7px -92px 75px -40px rgba(0, 0, 0, 1) inset;
  background: url("../assets/imgs/texture-wood-black.jfif") no-repeat;
  background-size: 950px;
  padding: 0 10px;
}

.direita-mesa{
    background: url("../assets/imgs/texture-wood-aside.webp") no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    
    
}
.direita-mesa .buttons-acao{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.direita-mesa button{
  border:none;
  padding: 10px 5px 10px 5px;
  width: 120px;
  border-radius: 20%;
  font-family: theWitcher;
  cursor: pointer;
  color: #df890a;
  background-color: rgba(0, 0, 0, 0.829);
}

.card-item img {
  width: 70px;
}
.vidas-adversario .title{
  color: #ffff;
  font-size: 25px;
  font-family: theWitcher;
  width: 100%;
  background-color: #000000a3;
  text-align: center;
}

.vidas-adversario{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.vidas-adversario .vida-2{
  display: none;
}
.vidas-adversario .vida-3{
  display: none;
}


.vidas-adversario img{
  width: 50px;
}

@keyframes subir {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
