.gwent{
    width: 100%;
}

.container-table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 150px;
}
.box-cartas-adversario{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.box-cartas-jogador{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.card-item{
    width: 200px; 
    border-radius: 10px;
    padding: 10px;
    font-family: thewitcher;
    font-size: 10px;
    display: flex;
    color: white; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}


.box-cartas-adversario .card-item{
    background-color: rgb(80, 0, 0);
    

}
.box-cartas-jogador .card-item{

    background-Color:blue;

}
.box-cartas-jogador .card-item:hover{
      background-Color:#312f41a2;
}
.table-gwent{
    background-color: #af5602a2;
    width: 100%;
    height: 20%;
    position:absolute;
    display: flex;
}