.gwent {
  width: 100%;
  overflow: hidden;
  background-color: #381708;
  display: flex;
  margin: 0;

}
aside{
    background-color: brown;
    height: 100vh;
    width: 300px;


}


.box-oponent{
    background-color: #000000a3;
    color: #df890a;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: 4;

}
.box-oponent img{
    width: 70px;
    border-radius: 50%;
}

.div-card-leader img{
    width: 50px;
}

.container-table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box-cartas-adversario {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.box-cartas-jogador {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
.card-item {
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-cartas-adversario .card-item {
  background-color: rgb(80, 0, 0);
}
.box-cartas-jogador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(105, 45, 9);
  width: 70%;
  border: 2px solid #ca730000;
  height: 150px;
}
.box-cartas-adversario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(105, 45, 9);
  width: 70%;
  border: 2px solid #ca730000;
}
.box-cartas-jogador button {
  border: none;
  background-color: #00000000;
}

.box-cartas-jogador .card-item img:hover {
  border: 2px solid #df890a;

  animation: 0.2s forwards alternate subir;
}
.box-cartas-adversario .card-item img:hover {
  border: 2px solid #df890a;

  animation: 0.2s forwards alternate subir;
}
.table-gwent {
  background-color: #af5602a2;
  width: 100%;
  height: 150px;
  border: 2px solid #5e5d5d;
  display: flex;
  width: 70%;
  box-shadow: -7px -92px 75px -40px rgba(0,0,0,1) inset;
-webkit-box-shadow: -7px -92px 75px -40px rgba(0,0,0,1) inset;
-moz-box-shadow: -7px -92px 75px -40px rgba(0,0,0,1) inset;
}
.table-artillery {
  background-color: #af5602a2;
  width: 100%;
  height: 150px;
  border: 2px solid #5e5d5d;
  display: flex;
  width: 70%;
}

.card-item img {
  width: 70px;
}

@keyframes subir {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
